
body{
  background-color: rgb(43, 43, 43);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.page-container{
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: center;
}

.slider-container{
  overflow: hidden;
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-rows: 65vh 5vh 15vh;
  gap: 5vh;
}

.memes-slider-scroller{
  overflow: hidden;
}

.meme-slider-content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  width: 500%;
  border: solid #dfdf1a 0.1rem;
  transition: 0.5s;
}

.meme{
  height: fit-content;
  block-size: fit-content;
  height: 64vh;
  align-content: center;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.selectors{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-container > input {
  display: none;
}

.selectors > label {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3rem;
}

.selectors > label:hover .fake-button{
  background-color: white;
  border-color: white;
}

.fake-button{
  margin: auto;
  width: 1.7rem;
  height: 1.7rem;
  border: 0.2rem solid skyblue;
  background-color: skyblue;
  border-radius: 50%;
}

.memes-text-scroller{
  overflow: hidden;
}
.meme-text-content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: flex-start;
  width: 500%;
  border: solid #48df1a 0.1rem;
  transition: 0.5s;
}

#meme1:checked ~ .selectors > label > ._fb-1{
  background-color: transparent;
}
#meme1:checked ~ .memes-slider-scroller > .meme-slider-content{
  margin-left: 0;
}
#meme1:checked ~ .memes-text-scroller > .meme-text-content{
  margin-left: 0;
}

#meme2:checked ~ .selectors > label > ._fb-2{
  background-color: transparent;
}
#meme2:checked ~ .memes-slider-scroller > .meme-slider-content{
  margin-left: -100%;
}
#meme2:checked ~ .memes-text-scroller > .meme-text-content{
  margin-left: -100%;
}

#meme3:checked ~ .selectors > label > ._fb-3{
  background-color: transparent;
}
#meme3:checked ~ .memes-slider-scroller > .meme-slider-content{
  margin-left: -200%;
}
#meme3:checked ~ .memes-text-scroller > .meme-text-content{
  margin-left: -200%;
}

#meme4:checked ~ .selectors > label > ._fb-4{
  background-color: transparent;
}
#meme4:checked ~ .memes-slider-scroller > .meme-slider-content{
  margin-left: -300%;
}
#meme4:checked ~ .memes-text-scroller > .meme-text-content{
  margin-left: -300%;
}

#meme5:checked ~ .selectors > label > ._fb-5{
  background-color: transparent;
}
#meme5:checked ~ .memes-slider-scroller > .meme-slider-content{
  margin-left: -400%;
}
#meme5:checked ~ .memes-text-scroller > .meme-text-content{
  margin-left: -400%;
}

@media (min-width: 900px) {
  .slider-container{
    grid-template-areas:  "meme meme meme meme meme"
                          "text text text nav nav";
    grid-template-rows: 75vh 20vh;
    grid-template-columns: repeat(5, 1fr);
  }

  .meme{
    height: 74vh;
  }

  .memes-slider-scroller{
    grid-area: meme;
  }

  .memes-text-scroller{
    grid-area: text;
  }

  .selectors{
    grid-area: nav;
    justify-content: flex-end;
  }

  .selectors > label {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0.15rem;
  }
  
  .fake-button{
    margin: auto;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.1rem solid skyblue;
  }
}